pipeline/pl_silver_nyc_taxi_green_parquet.json
{
	"name": "pl_silver_nyc_taxi_green_parquet",
	"properties": {
		"activities": [
			{
				"name": "getYearandMonth",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT DISTINCT year, month FROM [silver].[vw_trip_data_green_parquet_partition_pruning] order by year, month;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "For Each Year and Month",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getYearandMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getYearandMonth').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete Silver Taxi Data Green Parquet Files",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:11:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_silver_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"pFolderPathSilver": {
											"value": "silver/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "sp_silver_create_trip_data_green_from_partition",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Existing Partition Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:11:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[silver].[sp_silver_trip_data_green_partitioned]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete Existing Partition Tables",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete Silver Taxi Data Green Parquet Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:11:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "IF OBJECT_ID('silver.trip_data_green_@{item().year}_@{item().month}') IS NOT NULL \nDROP EXTERNAL TABLE silver.trip_data_green_@{item().year}_@{item().month};",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-01T09:52:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}